* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    display: inline-block;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    border: 4px solid transparent;
}


.home-img::before {
    content: "";
    position: absolute;
    width: 340px;
    height: 340px;
    background: linear-gradient(45deg, cyan, magenta, blue);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;  
    transition: opacity 0.5s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 40px rgba(0, 255, 255, 1);
    border: 4px solid white;  
    transform: scale(1.05);  
}

.home-img:hover::before {
    opacity: 1;  
    animation: rotateGlow 6s linear infinite; 
}


@keyframes rotateGlow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}
